/* 子元素靠左叠加，类似于float:left */
/* 使两边的元素靠边，所有元素之间间距平分 */
/* 垂直居中 */
/* 水平居中 */
/* 垂直水平居中 */
/* 强制不换行 */
/* 自动换行 */
/* 强制英文单词断行 */
/* 隐藏 */
/* 显现 */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000310}}
.container {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000316}}
.row {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000321}}
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1 {
  display: inline-block;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000326}}
.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1 {
  display: inline-block;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000331}}
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1 {
  display: inline-block;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000336}}
.col-xs-12,
.col-xs-11,
.col-xs-10,
.col-xs-9,
.col-xs-8,
.col-xs-7,
.col-xs-6,
.col-xs-5,
.col-xs-4,
.col-xs-3,
.col-xs-2,
.col-xs-1 {
  display: inline-block;
  float: left;
}
@media screen and (min-width: 1201px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000342}}
  .col-lg-12 {
    width: 99.9996%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000346}}
  .col-lg-11 {
    width: 91.6663%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000350}}
  .col-lg-10 {
    width: 83.333%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000354}}
  .col-lg-9 {
    width: 74.9997%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000358}}
  .col-lg-8 {
    width: 66.6664%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000362}}
  .col-lg-7 {
    width: 58.3331%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000366}}
  .col-lg-6 {
    width: 49.9998%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000370}}
  .col-lg-5 {
    width: 41.6665%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000374}}
  .col-lg-4 {
    width: 33.3332%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000378}}
  .col-lg-3 {
    width: 24.9999%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000382}}
  .col-lg-2 {
    width: 16.6666%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000386}}
  .col-lg-1 {
    width: 8.3333%;
  }
}
@media screen and (max-width: 1200px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000392}}
  .col-md-12 {
    width: 99.9996%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\0000396}}
  .col-md-11 {
    width: 91.6663%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003100}}
  .col-md-10 {
    width: 83.333%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003104}}
  .col-md-9 {
    width: 74.9997%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003108}}
  .col-md-8 {
    width: 66.6664%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003112}}
  .col-md-7 {
    width: 58.3331%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003116}}
  .col-md-6 {
    width: 49.9998%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003120}}
  .col-md-5 {
    width: 41.6665%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003124}}
  .col-md-4 {
    width: 33.3332%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003128}}
  .col-md-3 {
    width: 24.9999%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003132}}
  .col-md-2 {
    width: 16.6666%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003136}}
  .col-md-1 {
    width: 8.3333%;
  }
}
@media screen and (max-width: 992px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003142}}
  .col-sm-12 {
    width: 99.9996%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003146}}
  .col-sm-11 {
    width: 91.6663%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003150}}
  .col-sm-10 {
    width: 83.333%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003154}}
  .col-sm-9 {
    width: 74.9997%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003158}}
  .col-sm-8 {
    width: 66.6664%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003162}}
  .col-sm-7 {
    width: 58.3331%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003166}}
  .col-sm-6 {
    width: 49.9998%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003170}}
  .col-sm-5 {
    width: 41.6665%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003174}}
  .col-sm-4 {
    width: 33.3332%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003178}}
  .col-sm-3 {
    width: 24.9999%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003182}}
  .col-sm-2 {
    width: 16.6666%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003186}}
  .col-sm-1 {
    width: 8.3333%;
  }
}
@media screen and (max-width: 768px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003192}}
  .col-xs-12 {
    width: 99.9996%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003196}}
  .col-xs-11 {
    width: 91.6663%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003200}}
  .col-xs-10 {
    width: 83.333%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003204}}
  .col-xs-9 {
    width: 74.9997%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003208}}
  .col-xs-8 {
    width: 66.6664%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003212}}
  .col-xs-7 {
    width: 58.3331%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003216}}
  .col-xs-6 {
    width: 49.9998%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003220}}
  .col-xs-5 {
    width: 41.6665%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003224}}
  .col-xs-4 {
    width: 33.3332%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003228}}
  .col-xs-3 {
    width: 24.9999%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003232}}
  .col-xs-2 {
    width: 16.6666%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/WebStormZone\/IT\/task15\/module\/grid\/grid_style\.less}line{font-family:\00003236}}
  .col-xs-1 {
    width: 8.3333%;
  }
}
/*# sourceMappingURL=grid_style.css.map */