body{
    font-size: 62.5%;
}
input,textarea,select{
    font-size:100%;
    font-family:inherit;
}
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
    margin:0;
    padding: 0;
}

ul,ol{
    padding-left:0;
    list-style:none;

}
/*image with no-border*/
a img{border:0;}
img{border:0;}